<% if (title) { %>
    <h1><%= title %></h1>
<% } else {
      res.redirect('/')
} %>

<div class="form-container">

    <!-- Flash Message Section -->
    <%- messages() %> 

    <!-- Errors message display from the server side validator -->
    <% if (errors) { %>
         <ul class="notice">
        <% errors.array().forEach(error => { %>
            <li><%= error.msg %></li>
        <%  }) %>
         </ul>
    <% } %>

    <h2>Confirm Deletion - The delete is permanent.</h2>

    <form id="inventoryForm" action="/inv/delete" method="post">

        <div class="form-group">
            <label for="invMake">Make:</label>
            <input type="text" name="inv_make" id="invMake" readonly placeholder="Min of 3 characters" 
            required minlength="3" value="<%= locals.inv_make %>">
        </div>
        
        <div class="form-group">
            <label for="invModel">Model:</label>
            <input type="text" name="inv_model" id="invModel" readonly placeholder="Min of 3 characters" 
            required minlength="3" value="<%= locals.inv_model %>">
        </div>

        <div class="form-group">
            <label for="invPrice">Price:</label>
            <input type="number" name="inv_price" id="invPrice" 
            readonly
            placeholder="decimal or integer" 
            required min="0" step="0.01" value="<%= locals.inv_price %>">
        </div>

        <div class="form-group">
            <label for="invYear">Year:</label>
            <input type="number" name="inv_year" id="invYear" 
            placeholder="4-digit year"
            readonly
            required min="1900" max="<%= new Date().getFullYear() %>" 
            value="<%= locals.inv_year %>" 
            pattern="\d{4}" title="Please enter a valid 4-digit year.">
        </div>
        
        <button type="submit" class="submit-btn">Delete Vehicle</button>
        
        <input type="hidden" name="inv_id"
        <% if(locals.inv_id) { %> value="<%= locals.inv_id %>"
        <% } %>>
    </form>
</div>
